<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body class="details__bg">
  <nav class="navbar sticky-top navbar-expand-lg navbar-light nav-color">
    <a class="navbar-brand" href="/"><img src="https://i.imgur.com/Yunghri.png" alt="logo" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto  ">
        <li class="nav-item active  ">
          <a class="nav-link " href="/"><strong>Blogs</strong> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/about"><strong>About Me</strong><span class="sr-only">(current)</span></a>
        </li>

        <% if(loginUser){%>
        <li class="nav-item active">
          <a class="nav-link" href="/blogs/create"><strong>CreateBlog</strong> <span
              class="sr-only">(current)</span></a>
        </li>
        <%}%>
  
        <% if(!loginUser){%>
        <li class="nav-item active">
          <a class="nav-link" href="/login"><strong>Login</strong> <span class="sr-only">(current)</span></a>
        </li>
        <%}%>
        <!-- <li class="nav-item active">
          <a class="nav-link" href="/register"><strong>Register</strong> <span class="sr-only">(current)</span></a>
        </li> -->
  
        <% if(loginUser){%>
        <li class="nav-item active">
          <a class="nav-link" href="/logout"><strong>LogOut</strong></a>
        </li>
        <%}%> 
      </ul>

    </div>
  </nav>
  <br />
  <% if(loginUser){%>
        <div class="deleteIcon">
          <a class="btn btn-outline-danger w-25 d-flex justify-content-sm-end" data-doc="<%=blog.slug%>"
            role="button">Delete
          </a>
        </div>
        <%}%>
  
  <br />
  <!-- //Carousel images -->
  <%-include('./partials/carousel.ejs') %>
        <hr />
        <div class="d-flex col-lg-12 align-items-start">
          <form action="/blogs" method="POST" enctype="multipart/form-data" class="p-4 col-lg-2 mx-auto justify-content-center text-light bg_color rounded">
          
            <div class="text-center mt-3">
                <h2 class="display-4">Contact Me ?</h2>
            </div>
  
            <div class="form-group">
              <label for="title"><strong> Title</strong> </label>
              <input type="text" class="form-control" id="title" name="title" value="#" required/>
            </div>
            <div class="form-group">
              <label for="message"><strong>Message</strong></label>
              <textarea class="form-control" type="text" id="message" name="message" rows="3" value="#" required>
              </textarea>
            </div>
          </form>
        <div class=" col-lg-7 p-5 text-dark container bg-muted details__blogContent">
          <div class="text-center">
            <h1 class="display-3 text-primary my-5 mx-auto"><%=blog.title.toUpperCase()%></h1>
          </div>
          <div class="details__carousel upload-image rounded mb-5 mx-auto" style="background-image: url('<%=blog.image %>')">
          </div>
        <div class="text-center">
          <h6 class="grey-text">Published at :<%= blog.createdAt%></h6>
        </div>
        <div class="text-center text-dark ">
          <h4 class="text-info details__blogContent"><%= blog.description%></h4>
        </div>
        <div class="my-5 text-dark">
            <h3 class="text-dark details__blogContent "><%- blog.content%></h3>
        </div>
        </div>
        <form action="/blogs" method="POST" enctype="multipart/form-data"
        class="p-4 col-lg-2 mx-auto justify-content-center text-light bg_color rounded">
        
        <div class="text-center mt-3">
          <h2 class="display-4">Subscribe to Newsletter</h2>
        </div>

        <div class="form-group">
          <label for="username"><strong> Email</strong> </label>
          <input type="text" class="form-control w-auto" id="username" name="username" value="#" required
        />
        </div>
   
  </form>
</div>
<hr class="bg-danger mt-5">
<%-include('./partials/comment.ejs')%>
<%- include('./partials/footer.ejs') %>
<%- include('./partials/scriptTag.ejs') %>
<!-- Footer of the page -->


<script>
  //DELETE function. It 1st take the given element and assign it to variable.then,
  //run the Click EventListener and assign the variable the Endpont('/blogs/:id'), then
  //run fetch method() to request the server to delete the 'Clicked item'

  const remove = document.querySelector("a.btn");
  remove.addEventListener("click", (e) => {
    const endPoint = `/blogs/${remove.dataset.doc}`;
    //doing Ajax request to Server to delete...
    fetch(endPoint, {
        method: "DELETE",
      })
      .then((response) => response
        .json()
      ) //got the responce back from server after deleted the item, and converted it into JSON format.

      .then((data) => {
        window.location.href = data.redirect; // then, redirected the responce(data) to index page.
      })
      .catch((err) => console.log(err));
  });
</script>
</body>
</html>