<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body class="details_bg">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light nav-color">
        <a class="navbar-brand" href="/"><img src="https://i.imgur.com/Yunghri.png" alt="logo" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto  ">
                <li class="nav-item active  ">
                    <a class="nav-link " href="/"><strong>Blogs</strong> <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/about"><strong>About Me</strong><span
                            class="sr-only">(current)</span></a>
                </li>

                <% if(loginUser){%>
                <li class="nav-item active">
                    <a class="nav-link" href="/blogs/create"><strong>CreateBlog</strong> <span
                            class="sr-only">(current)</span></a>
                </li>
                <%}%>
      
            <% if(!loginUser){%>
                <li class="nav-item active">
                    <a class="nav-link" href="/login"><strong>AdminLogin</strong> <span
                            class="sr-only">(current)</span></a>
                </li>
                <%}%>
      
            <!-- <li class="nav-item active">
              <a class="nav-link" href="/register"><strong>Register</strong> <span class="sr-only">(current)</span></a>
            </li> -->
      
            <% if(loginUser){%>
                <li class="nav-item active">
                    <a class="nav-link" href="/logout"><strong>LogOut</strong></a>
                </li>
                <%}%>
      
          </ul>
      
        </div>
      </nav>    

    <form action="/blogs" method="POST" class="p-5 m-5 w-50 justify-content-center mx-auto bg_color ">
        <div class="text-center mt-3">
            <input type="hidden" name="id" value="<%= blog._id%>">
                <h2><%= title%></h2>
        </div>

        <div class="form-group">
            <label for="title">Blog's title</label>
            <input type="text" class="form-control" id="title" name="title" value="<%=blog.title %>">
            <small id="emailHelp" class="form-text text-muted">Write what you like to...</small>
        </div>
        <div class="form-group">
            <label for="description">Blog's description</label>
            <input type="text" class="form-control" id="description" name="description" value="<%=blog.description %>">
        </div>
        <div class="form-group">
            <label for="content">Blog Content</label>
            <textarea class="form-control" type='text' id="content" name='content'
                value="<%=blog.content %>"></textarea>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Set Private post</label>
        </div>
        <div class="form-group">
            <label for="title"><strong>Blog's picture</strong> </label>
            <input type="file" class="form-control-file" id="file" name="file">
        </div>
        <button type="submit" class="btn btn-danger">Update</button>
        </form>
        <%- include('./partials/footer.ejs') %>
</body>

<%- include('./partials/scriptTag.ejs') %>

</html>